=title "Welcome"
.padding
  .quick-start{:style=>'margin: 50px 0 0 50px;height:130px;', :onclick=>'ra', :onmousedown=>'ds'}
    %img{:src => '/images/128.png', :style=>'display:block;float:left;'}
    %h1{:style=>'display:block;float:left'} Create Report
    %a{:style=>'display:block;float:left'} Hello. This is my text.