#calendar-main
  #cover
    %p{:style=>'padding: 20% 30%'}Calendar
.post
  %h2.title National Honor Society
  %p.meta Southern Lehigh
  .entry
    This graph is the basis for the student pages in which students can see where they stand compared to their goals, requirements, and other students
    %br
    %br
    = @graph