!!!
%html
  %head
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1'}
    %title="#{AppConfig.project} v.#{Lipsiadmin::VERSION::STRING}"
    =stylesheet_link_tag :all
    =javascript_include_tag :all
  %body
    =render :partial => '/layouts/login', :locals => { :name => 'Guest' }
    #wrapper
      #login-box
        #content
          =yield
      #copyright
        Copyright &copy; 2009 LipsiaSoft s.r.l. All rights reserved