!!!
%html
  %head
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1'}
    %title NHS Web Frontend
    =stylesheet_link_tag 'style2', 'slide'
    =javascript_include_tag 'jquery', 'slide', 'reflection'
  %body
    = render :partial => '/layouts/login'
    #wrapper{:style=>'padding-top: 1px'}
      #page
        #content{:style=>'margin-top: -20px'}
          #calendar{:style=>'width: 500px; height: 300px; background: #ff0;'}
            #cover{:style=>'cursor:pointer;background: #000;opacity: .6;font-size:40pt;height:100%;width:100%;',:onmouseover=>'this.style.opacity = .1;', :onmouseout=>'this.style.opacity = .6;'}
              %p{:style=>'padding: 20% 30%;cursor:pointer;'}Calendar
          .post
            %h2.title National Honor Society
            %p.meta Southern Lehigh
            .entry
              bla bla bla
        / end #content 
        #sidebar
          %img.reflect.rheight35{:src=>'/images/nhs.png', :alt=>'', :width=>'137', :height=>'183', :style=>'margin-top:-110px;margin-left: -75px;'}
          %ul
            %li
              %h2 Calendar
            %li
              %h2 Categories
              %ul
                %li
                  %span Example
                %li
                  %span Example2
        / end #sidebar 
        %span{:style=>'margin-top:-50px'}
          %img.reflect.rheight100.ropacity66{:src=>'/images/background.jpg', :alt=>'', :width=>'1000', :height=>'79', :align=>'texttop', :style=>'margin-left:-50px;margin-bottom:-18px'}
        %div{:style=>'clear:both'} &nbsp;
      / end #page 
      #footer
        %p
          (c) 2009 Sitename.com. Developed by
          %a{:href=>'http://www.nodethirtythree.com'} Solehi Dev
      / end #footer 
